<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django first App</title>
</head>
<body>
    <h1>{{key}}</h1>

    <table border="1">
        <thead>
            <th>id</th>
            <th>name</th>
            <th>age</th>
        </thead>
        <tbody>
            {% for person in persons %}
            
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{person.name}}</td>
                <td>
                {% if person.age <= 25 %}
                adult
                {% elif person.age >= 26 and person.age <= 50 %}
                growing old

                {% else %}
                old
                {% endif %}
                {{person.age}}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>